### In this file we do a Predicition of the trends
1. [Time Series Analysis (if needed)](#timeseries)
2. [Feature Engineering](#featureengineering)
3. [Select Modeling Approach](#modeling)
4. [Model Training and Validation](#modelvalidation)
5. [Evaluation Metrics](#evaluation)

### In the file Results
6. Interpret Results
7. Communicate Findings

### Monotoring
8. Iterative Improvement

In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#from wordcloud import WordCloud, STOPWORDS
from IPython.display import Image
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv("Datasets/shopping_trends_updated.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.10,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.10,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.10,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.50,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.70,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Time Series Analysis<a id='timeseries'></a>

### Feature Engineering<a id='featureengineering'></a>

### Select Modeling Approach<a id='modeling'></a>

### Model Training and Validation<a id='modelvalidation'></a>

### Evaluation Metrics<a id='evaluation'></a>